/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding on all elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* sets vertical height on html and body*/
html, body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*---------- layout ---------------*/
body {
  background-color: hsl(0, 0%, 1%);
  color: hsl(0, 0%, 100%);
}

/*---------- header  -----------*/
.header {
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/cosmos.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 200px;
  cursor: pointer;
}

nav button {
  border: 0;
  outline: 0;
  background-color: #db0001;
  color: #fff;
  padding: 7px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.language-btn {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid #fff;
  justify-content: space-between;
  padding: 7px 10px;
}

.language-btn img {
  width: 12px;
  margin-left: 10px;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
  margin-top: 0px;
  color: rgb(195, 195, 236);
}

.header-content h1 {
  font-size: 4rem;
  line-height: 70px;
  font-weight: 600;
  max-width: 550px;
  margin: 0 auto 20px;
}

.header-content h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.email-signup {
  background: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}

.email-signup input {
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}

.email-signup button {
  background: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}

/*--------- features  ---------*/
.features {
  font-size: 22px;
  line-height: 3rem;
}

.features p {
  line-height: 40px;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.text-col, .img-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.text-col {
  padding: 0 70px;
}

.img-col img {
  width: 80%;
  margin: auto;
}

.features h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* FAQ */
.faq {
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
  border: 2px dashed greenyellow;
}

.faq h2 {
  font-weight: 500;
  font-size: 40px;
}

.accordion {
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}

.accordion li {
  list-style: none;
  width: 100%;
  padding: 3px 0;
  text-align: left;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: content 0.5s;
}

input[type=radio] {
  display: none;
}

.accordion .content {
  background: #303030;
  text-align: left;
  padding: 0 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type=radio]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}

.accordion input[type=radio]:checked + label::after {
  transform: rotate(135deg);
}

.faq .email-signup {
  max-width: 600px;
  margin: 20px auto 60px;
}

.faq small {
  font-size: 13px;
}

/*------ footer -------*/
footer {
  border: 2px dashed orange;
  padding: 50px 15% 10px;
  color: #777;
}

.footer h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 30px;
}

footer .col {
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 20px;
}

footer .col a {
  display: block;
  text-decoration: none;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

footer .row {
  align-items: flex-start;
  padding: 10px 0;
}

footer .language-btn {
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
}

.copyright-text {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* -------- media queries for small screen ------------ */
@media only screen and (max-width: 600px) {
  .logo {
    width: 110px;
  }
  nav button {
    padding: 3px 7px;
  }
  nav .language-btn {
    padding: 2px 5px;
  }
  .header-content {
    position: unset;
    transform: none;
    padding-top: 180px;
    width: 90%;
    max-width: 550px;
    margin: 0 auto 0;
  }
  .header-content h1 {
    font-size: 2rem;
    line-height: 3.5rem;
  }
  .email-signup button {
    font-size: 12px;
    padding: 10px 15px;
  }
  .text-col, .img-col {
    flex-basis: 100%;
  }
  .features h2 {
    font-size: 2rem;
  }
  .features p {
    font-size: 1rem;
  }
  .features img {
    border-radius: 5px;
  }
  .row:nth-child(2),
  .row:nth-child(4) {
    flex-direction: column-reverse;
  }
  .features .row {
    padding: 20px 0;
  }
  .faq h2 {
    font-size: 20px;
  }
  .accordion .content {
    font-size: 14px;
    line-height: 28px;
  }
  .accordion li label {
    padding: 10px;
    font-size: 14px;
  }
  label::after {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */